[submodule "test/heroku-rails-sample"]
	path = test/heroku-rails-sample
	url = https://github.com/heroku/ruby-rails-sample
[submodule "test/heroku-node-js-sample"]
	path = test/heroku-node-js-sample
	url = https://github.com/heroku/node-js-sample
[submodule "test/heroku-python-sample"]
	path = test/heroku-python-sample
	url = https://github.com/heroku/python-sample
[submodule "test/heroku-ruby-sample"]
	path = test/heroku-ruby-sample
	url = https://github.com/heroku/ruby-sample
[submodule "test/heroku-java-getting-started"]
	path = test/heroku-java-getting-started
	url = https://github.com/heroku/java-getting-started
[submodule "test/heroku-scala-getting-started"]
	path = test/heroku-scala-getting-started
	url = https://github.com/heroku/scala-getting-started
[submodule "test/heroku-go-getting-started"]
	path = test/heroku-go-getting-started
	url = https://github.com/heroku/go-getting-started
